.App {
  font-family: sans-serif;
  text-align: center;
}
.active_class{
  color:white !important;
}
.nav{
  background-color: black;
height: 50px;
margin: 0;
padding-top: 20px;
}
.cnt{
vertical-align: -webkit-baseline-middle!important;
 margin-left: 50px;
 color: skyblue;
 font-size: 18px;
 text-decoration: none;
}
.searchbar{
  margin: 0 auto;
width: 50%;
height: auto;
text-align: center;
}
.searchbar input{
border-radius: 5px;
padding: 5px 10px;
margin: 30px 0;

}